{% set tag = craft.tags.title('about') %}
{% set about = craft.entries().relatedTo(tag).one() %}

{% if about %}
	<section id="about" class="s-about">
		<div class="horizontal-line"></div>

		<div class="row">
			<div class="column large-12">
				<div class="section-title" data-num="01" data-aos="fade-up">
					<h3 class="h6">{{ about.title }}</h3>
				</div>
			</div>

			<div class="column large-6 w-900-stack s-about__intro-text">
				<h1 class="display-1" data-aos="fade-up">{{ about.caption }}</h1>
				<p class="lead" data-aos="fade-up">{{ about.description }}</p>
			</div>

			<div class="column large-6 w-900-stack s-about__photo-block">
				<div class="s-about__photo" data-aos="fade-up" style="background-image: url({{ about.featuredImage.one().getUrl }});"></div>
			</div>
		</div>

		<div class="row block-large-1-2 block-tab-full s-about__process item-list">
			{% for block in entry.process.all() %}
				<div class="column item item-process" data-aos="fade-up">
					<h3 class="item-title">{{ block.caption }}</h3>
					<p>{{ block.description }}</p>
				</div>
			{% endfor %}
		</div>

	</section>
{% endif %}
