<header id="header" class="s-header">
	<div class="s-header__logo">
		<a href="{{ siteUrl }}">
			<img src="{{ header.logotype.one().getUrl }}" alt="Homepage">
		</a>
	</div>

	<div class="s-header__content">
		<nav class="s-header__nav-wrap">
			<ul class="s-header__nav">
				{% for block in header.menu.all() %}
					<li>
						<a class="smoothscroll" href="{{ siteUrl }}{{ block.hyperlink }}" title="{{ block.caption }}">{{ block.caption }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
		<a href="{{ header.hyperlink }}" class="btn btn--primary btn--small">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
				<path d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z"/>
			</svg>
			{{ header.caption }}
		</a>
	</div>

	<a class="s-header__menu-toggle" href="#0">
		<span>Menu</span>
	</a>
</header>
