{% import "_utils/filters" as utils %}
{% set tag = craft.tags.title('hero') %}
{% set hero = craft.entries().relatedTo(tag).one() %}

{% if hero %}
	<section id="hero" class="s-hero target-section">

		<div class="s-hero__bg" style="background-image: url({{ hero.featuredImage.one().getUrl }});">
			<div class="gradient-overlay"></div>
		</div>

		<div class="row s-hero__content">
			<div class="column">
				<h1>{{ hero.caption }}</h1>
				<div class="s-hero__content-about">
					<p>{{ utils.removeTagP( hero.description ) }}</p>

					<footer>
						<div class="s-hero__content-social">
							{% for block in socialNav.menu.type('item').all() %}
								<a href="{{ block.hyperlink }}">
									<i class="fab {{ block.icon }}" aria-hidden="true"></i>
								</a>
							{% endfor %}
						</div>
					</footer>
				</div>
			</div>
		</div>

		<div class="s-hero__video">
			<a class="s-hero__video-link" href="{{ entry.hyperlink }}" data-lity="">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M21 12l-18 12v-24z"/></svg>
				<span class="s-hero__video-text">{{ entry.caption }}</span>
			</a>
		</div>

		<div class="s-hero__scroll">
			<a href="#about" class="s-hero__scroll-link smoothscroll">
				Scroll Down
			</a>
		</div>

	</section>
{% endif %}
