{% import "_utils/filters" as utils %}
{% set tag = craft.tags.title('services') %}
{% set servicesAll = craft.entries().relatedTo(tag).all() %}

{% if servicesAll|length %}
	{% for services in servicesAll %}

		<section id="services" class="s-services">
			<div class="row">
				<div class="column large-12">
					<div class="section-title" data-num="02" data-aos="fade-up">
						<h3 class="h6">{{ services.title }}</h3>
					</div>
				</div>
				<div class="column large-6 w-900-stack">
					<h1 class="display-1" data-aos="fade-up">{{ services.caption }}</h1>
				</div>
				<div class="column large-6 w-900-stack">
					<p class="lead" data-aos="fade-up">{{ utils.removeTagP( services.description ) }}</p>
				</div>
			</div>

			<div class="row block-large-1-2 block-tab-full s-services__services item-list">
				{% for block in entry.services.all() %}
					<div class="column item item-service" data-aos="fade-up">
						<span class="service-icon" style="background-image: url({{ block.icon.one().getUrl }});"></span>
						<h3 class="item-title">{{ block.caption }}</h3>
						<p>{{ block.description }}</p>
					</div>
				{% endfor %}
			</div>

		</section>
	{% endfor %}
{% endif %}
